.caption {
    color: rgb(230, 233, 225);
    background-color: rgb(94, 71, 36);
    text-align: center;
    font-size: bold;
    font-family:'Times New Roman', Times, serif
}

#title {
    color: rgb(51, 112, 51);
    text-align: center;
}

h3 {
   color: rgb(51, 112, 51); 
   text-align: left;
}

.ul,.ol {
    color: rgb(184, 176, 103);
}

em {
    color: rgb(75, 68, 57);
    text-align: center;
}
